#Solubility {
  display: grid;
  grid-template-columns: 7rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
  grid-template-rows: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
}
.solu,
.insolu,
.slu,
.unavai,
.reftex {
  padding: 0.5em;
  text-align: center;
}

.solu {
  background-color: rgb(113, 117, 200);
}
.insolu {
  background-color: rgb(194, 120, 213);
}
.unavai {
  background-color: rgb(255, 204, 000);
}
.slu {
  background-color: rgb(106, 201, 212);
}

.ion {
  text-align: center;
  background-color: rgb(236, 102, 070);
}

#ref {
  position: relative;
  display: grid;
  grid-template-columns: 5em 10em 10em 10em 13em 10em;
  grid-template-rows: 5em;
  grid-gap: 0.25em;
}
