body{
    display: flex;
    flex-flow: column;
    background-color: blanchedalmond;
}

table{
    margin: 1em;
}

.solu,.insolu,.slu,.unavai,.reftex{
    padding: 5px;
    text-align: center;
}

.solu{
    background-color: cornflowerblue;
}
.insolu{
    color: rgb(255, 255, 255);
    background-color: darkviolet;
}
.unavai{
    background-color: yellow;
}
.slu{
    background-color: rgb(0, 204, 204);
}

.ion{
    text-align: center;
    background-color: darkorange;
}

#ref{
    justify-content: center;
    display: grid;
    grid-template-columns: 5em 10em 10em 10em 10em 10em ;
    grid-template-rows: 5em;
    grid-gap: 0.25em;
}

.refbot{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 5px black solid;
    border-radius: 5px;
}
