body{
    display: flex;
    flex-flow: column;
    background-color: blanchedalmond;
}

#content{
    position: relative;
    overflow-x: scroll;
    margin: 1em;
}

#Solubility{
    display: grid;
    grid-template-columns: 7rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem ;
    grid-template-rows: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
}
.solu,.insolu,.slu,.unavai,.reftex{
    padding: 0.5em;
    text-align: center;
}

.solu{
    background-color: cornflowerblue;
}
.insolu{
    color: rgb(255, 255, 255);
    background-color: darkviolet;
}
.unavai{
    background-color: yellow;
}
.slu{
    background-color: rgb(0, 204, 204);
}

.ion{
    text-align: center;
    background-color: darkorange;
}

#ref{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 5em 10em 10em 10em 13em 10em ;
    grid-template-rows: 5em;
    grid-gap: 0.25em;
}

.refbot{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 0.25em black solid;
    border-radius: 0.5em;
    font-size: 1em;
}
