.img-carousel {
    object-fit: cover;
    height: 10rem;
    opacity: 45%;
}
.background-img-carousel {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    height: 30rem;
}