.key {
    padding: 2vw;
    cursor: pointer;
}
.calculator {
    height: 80vh;
    width: 30vw;
    min-width: 250px;
    min-height: 450px;
}
.output {
    height: 20%;
}
.input {
    height: 80%;
}
/* 
4a + 3b = 12
a = 3 - 3/4 b
*/