body{
    background-image: url("https://github.com/SIPNJ/Studently-Stationary/blob/master/Picture/greengrass.jpg?raw=true");
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover;
}