body {
  background-color: #0a1f44;
}
.center {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.column {
  display: flex;
  flex-flow: column;
}
.row {
  display: flex;
  flex-flow: row;
}
.title {
  font-size: 6vw;
  font-weight: 900;
  color: whitesmoke;
  margin: 3vw;
}
#input {
  font-size: 2vw;
  font-weight: 600;
  padding: 2vw 7vw 2vw 7vw;
  border: 0.25vw dashed black;
  border-radius: 3vw;
  margin: 3vw;
}
#submit {
  background-color: tomato;
  color: whitesmoke;
  margin-top: auto;
  margin-bottom: auto;
}
/* first tag */
#eachTag {
  margin: 3vw;
}
#Tag {
  background-color: thistle;
  border: 0.15vw dashed black;
  border-radius: 2vw;
}
#nameCity {
  margin: 2vw;
  font-size: 3vw;
  font-weight: 700;
  font-family: monospace;
}
#nameCountry {
  margin: 2vw;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1vw;
  background-color: chocolate;
  color: aliceblue;
}
#Temperature {
  margin: 2vw;
  font-size: 7vw;
}
#Cloud, #Humid, #Pressure {
  margin: 2vw;
  font-size: 2vw;
}
