body{
    display: flex;
    flex-flow: column;
    align-items: baseline;
    background-color: rgb(255, 215, 155);
}
#periodic{
    display: grid;
    grid-template-rows: 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw;
/*                      nam nam 1   2   3   4   5   6   7   8   9 */
    grid-template-columns: 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw;
    /* grid-gap: 1em; */
    text-align: center;
    border: black;
    margin-left: auto;
    margin-right: auto;
}
/* #periodic div{
    border: black;
} */
#title{
    grid-area: 1 / 4 / 2 / 14;
    padding-top: 1vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4vw;
}
#cap{
    display: flex;
    flex-flow: row;
}
.element{
    border: 0.5px black solid ;
    /* padding-top: 13px; */
}
.numcol,.numrow{
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 0.125vw black solid;
    background-color: teal;
    color: rgb(255, 255, 255);
    padding-top: 1vw;
    font-size: 1.5vw;
}
.namcol, .group{
    font-size: 0.9vw;
    padding-top: 1.5vw;
    border: 0.5px black solid;
}
/* space */
#space0{
    grid-column: 4/ span 10;
}
#space1{
    grid-column: 3/ span 16;
}
#space2, #space3 {
    grid-column: 4/ span 10;
}
.spacenoid{
    grid-column: span 3;
}
/*  */
#B8{
    grid-column: span 3;
}
/* block */
.sbl{
    background-color: green;
    color: whitesmoke;
}
.pbl{
    background-color: rgb(233, 77, 233);
    color: whitesmoke;
}
.dbl{
    background-color: gold;
    color: rgb(0, 0, 0);
}
.fbl{
    background-color: burlywood;
    color: rgb(0, 0, 0);
}
/* chuthich */

#chuthich{
    background-color: seashell;
    border: 0.25vw black solid;
    margin: 2em;

    width: 10vw;
    /* height: 20vw; */
    display: grid;
}

.chu{
    margin: auto;
    padding: 1vw;
    border: 0.125vw black solid;
    border-radius: 1vw;
}


/* content */

#elementcontent{
    display: flex;
    flex-flow: column;

    position: relative;

    background-color: seashell;

    border: 5px black solid;
    margin: 2em;

    width: 20em;
    height: 20em;
}

.eletop{
    display: flex;
    flex-flow: row;

    height: 60%;
    margin: 10px;
}

.elebot{
    height: 40%;
    margin: 10px;
}

.elelef{
    display: flex;
    flex-flow: column;

    position: relative;

    width: 50%;
    height: 100%;
    margin: 10px;
}

.elerig{
    display: flex;
    flex-flow: column;

    position: relative;

    width: 50%;
    height: 100%;
    margin: 10px;
}

#model{
    height: 50%;
}

/* content x2 */

.atomnum{
    position: absolute;

    top: 10%;;
    left: 10%;
    text-align: left;
    font-size: 23px;
    animation-name: rainbowcolor;
    animation-duration: 5s;
    animation-iteration-count: infinite;


}

.elesym{
    position: relative;

    top: 35%;
    left: auto;

    height: 46px;
    width: 70px;

    margin: 10%;
    font-size: 20px;
    font: bold;
    text-align: center;
}
.config{
    position: relative;
    top: 35%;

    margin: 10%;
    text-align: left;
}



.elenam{
    margin: 10%;
    font-size: x-large;
    text-align: right;
}

.elemass{
    margin: 10%;
    text-align: right;
    font-size: 23px;
}



.elenegati{
    width: 100%;
    height: 1rem;
    text-align: center;
    border: 1px solid red;
}


@keyframes rainbowcolor{
    0% {color: white; font-size: 20px; }
    10% {color: skyblue; font-size: 21px;}
    20% {color: rgb(206, 0, 161); font-size: 22px;}
    30% {color: red; font-size: 23px;}
    40% {color: rgb(0, 255, 242); font-size: 22px;}
    50% {color: orange; font-size: 21px;}
    70% {color: orangered; font-size: 20px;}
    80% {color: plum; font-size: 21px;}
    90% {color: purple; font-size: 22px}
    100% {color: black; font-size: 21px;}
}