/* Info Panel */
.infoPanel {
  /* display */
  position: fixed;
  height: 100vh;
  width: 50vw;
  /* other */
  transform: translate(-150%, 0%);
  transition: 1000ms;
  overflow-y: scroll;
  overflow-x: auto;
}
.openPanel {
  transform: translate(0, 0);
}
.infoPanel table thead tr th,
.infoPanel table tbody tr td {
  font-size: small;
}
#Name {
  font-size: x-large;
}
#Symbol {
  font-size: x-large;
  position: absolute;
  right: 0;
}
/* Overlay */
.overlay {
  /* position */
  position: fixed;
  height: 200vh;
  width: 200vw;
  /* other */
  opacity: 0;
  transition: 1000ms;
}
.darken-background {
  opacity: 0.7;
  pointer-events: all;
}
/* Period Table */
.period-row {
  /* position */
  position: relative;
  /* width: 100vw; */
  /* display */
  display: flex;
  flex-flow: row;
  /* other */
  overflow: hidden;
}
/* Period Number */
.period-number {
  font-size: 1.75vw !important;
}
.period-class {
  font-size: 1vw;
}
.electron-class {
  /* position */
  height: 5.75vw;
  width: 0.5rem;
  /* display */
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  /* other */
  font-size: 0.555vw;
  word-wrap: break-word;
}
/* Element Components */
.element {
  /* position */
  position: relative;
  height: 5.75vw;
  width: 5%;
  /* display */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* other */
  border: 1px #ffffff solid;
  font-size: 0.67vw;
}
.element-number {
  position: absolute;
  top: 0.3vw;
  right: 0.3vw;
  font-size: 0.7vw;
}
.element-symbol {
  font-size: 1.7vw;
}
/* Classifications of Elements : s,p,d,f and unknown blocks */
.s-element {
  background-color: rgba(107, 229, 140, 75%);
}
.p-element {
  background-color: rgba(194, 120, 213, 75%);
}
.d-element {
  background-color: rgba(240, 215, 148, 75%);
}
.f-element {
  background-color: rgba(248, 122, 141, 75%);
}
.unk-element {
  background-color: rgba(224, 224, 228, 75%);
}
.s-element:hover,
.p-element:hover,
.d-element:hover,
.f-element:hover,
.unk-element:hover {
  border: 1px #000000 solid;
}
/* Classifications of Elements : Alkali, Alkaline Earth Metals; Transtition, Post-Transition Metal;  */

/* Settings and Label */
.settingPanel {
  position: absolute;
  width: 12vw;
  height: 5vw;
}
